[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
boto3 = "*"
black = "*"
pre-commit = "*"

[packages]
requests = "*"
boto3 = "*"
pygresql = "*"
python-dotenv = "*"
aws-cdk-core = "*"
aws-cdk-aws-lambda = "*"
aws-cdk-aws-s3 = "*"
aws-cdk-aws-events = "*"
aws-cdk-aws-events-targets = "*"
aws-cdk-aws-iam = "*"
aws-cdk-aws-sqs = "*"
aws-cdk-aws-ssm = "*"
aws-cdk-aws-lambda-event-sources = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
